/* CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* END OF CSS RESET */

* {
    font-family: "Nunito", sans-serif;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #071952;
    padding: 15px 20px 15px 20px;
}

.logo {
    background-image: url(../assets/pp.png);
    background-size: cover;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.navigation a {
    margin-left: 15px;
    text-decoration: none;
    color: #ebf4f6;
}

.navigation a:hover {
    color: #088395;
    transition: 0.2s ease-in-out;
}

#changeName {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#changeName:hover {
    background-color: #0056b3;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ebf4f6;
}
/* End of Navigation */

/* Banner Ucapan Welcome */
.header-web {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: 500px;
    background-image: url(../assets/hero-background1.jpg);
    background-size: cover;
    background-position: center;
}

.header-web::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.devano-pic {
    width: 320px;
    height: 320px;
    position: relative;
    border: 1px solid #ebf4f6;
    background-image: url(../assets/wajah.jpg);
    background-size: 1050px;
    background-position: -239px -535px;
    border-radius: 50%;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.desc-header {
    color: #ebf4f6;
    z-index: 2;
}

.desc-header h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 12px;
}

.desc-header p {
    font-size: 15px;
}
/* End of Banner Ucapan Welcome */

/* About Me */
.about-me {
    padding: 70px;
}

.title-about {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 12px;
    color: #071952;
}

.content > p {
    font-size: 18px;
    text-align: justify;
    line-height: 25px;
}
/* End of about me */

/* Project */
.project {
    padding: 70px;
    background-color: #071952;
}

.title-project {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ebf4f6;
}

.showcase-project {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    color: #ebf4f6;
}

.portofolio0,
.build-with-depth {
    background-color: #ebf4f6;
    padding: 10px;
    margin: 15px;
    border-radius: 16px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
}

.showcase-project img {
    border-radius: 8px;
    border: 3px solid #071952;
}

.showcase-project h1 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
}

.showcase-project a {
    text-decoration: none;
    color: #071952;
}

.showcase-project a:hover {
    color: #088395;
    transition: 0.3s ease-in-out;
}
/* End of Project */

/* Contact Me */
.contact-me {
    padding: 70px;
}

.form-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.form-validation {
    display: flex;
    justify-content: space-between;
}

.input-form,
.output-form {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
}

.input-form {
    margin-right: 20px;
}

/* .input-form p {
    margin: 12px;
} */

input[type="text"],
input[type="date"],
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="radio"] {
    margin: 0 0 10px 0;
}

label {
    margin: 10px 0 5px;
    display: inline-block; /* Ensuring labels are inline */
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Added for better spacing */
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.output-form h2 {
    margin-top: 0;
}

.messages {
    margin-top: 12px;
}

.birth-date {
    margin-top: 8px;
}

.output-form p {
    margin: 10px 0;
}

.output-form span {
    font-weight: bold;
}
/* End of Form Styling */

/* Footer */
footer {
    background-color: #071952;
    padding: 30px;
}

.footer-styling,
.judul-footer,
.desc-footer {
    text-align: center;
    color: #ebf4f6;
    margin: 10px;
}

@media (max-width: 768px) {
    /* Adjustments for smaller screens */

    /* Hamburger Menu */
    .navigation {
        display: none;
        flex-direction: column;
        background-color: #071952;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        padding: 80px 20px;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    .navigation.active {
        transform: translateX(0);
    }

    .navigation a {
        margin: 10px 0;
    }

    /* Banner Adjustments */
    .header-web {
        flex-direction: column;
        height: auto;
        padding: 40px 20px;
        text-align: center;
    }

    .devano-pic {
        width: 200px;
        height: 200px;
        margin-bottom: 20px;
        background-position-x: -300px;
    }

    .desc-header {
        margin-bottom: 20px;
    }

    /* Project Section Adjustments */
    .showcase-project {
        flex-wrap: wrap;
    }

    .title-about,
    .title-project {
        text-align: center;
    }

    .portofolio0,
    .build-with-depth {
        width: 100%;
        padding-right: 20px;
    }

    .showcase-project img {
        width: 100%;
        margin-bottom: 10px;
    }

    .showcase-project h1 {
        font-size: 18px;
        margin: 10px 0;
    }

    /* Form Section Adjustments */
    .form-validation {
        flex-direction: column;
        padding-right: 40px;
    }

    .input-form,
    .output-form {
        width: 100%;
        margin: 10px 0;
    }

    .input-form {
        order: 1;
    }

    .output-form {
        order: 2;
    }

    input[type="text"],
    input[type="date"],
    textarea {
        width: 100%;
    }
}
